{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-recommended-less",
        "stylelint-config-prettier"
    ],
    "rules": {
        "indentation": 4
    },
    "customSyntax": "postcss-less"
}
